<carousel></carousel>

<div id="service">
    <div class="container">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
        <img src="images/mtservice.png" class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>
    <div class="container">
        <div class="col-lg-2 col-sm-4 col-xs-6 service-item">
            <div class="service-item-icon service-item-icon1">

            </div>
            <div class="service-item-title">
                专注领域
            </div>
            <div class="service-item-content">
                <ul>
                    <li>世博会、奥运会展示场馆</li>
                    <li>科技馆、博物馆</li>
                    <li>各类主题场馆</li>
                    <li>城市规划馆、企业展示中心</li>
                    <li>青少年宫、妇女儿童活动中心、校史馆、纪念馆</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-6 service-item">
            <div class="service-item-icon service-item-icon2"></div>
            <div class="service-item-title">
                概念策划
            </div>
            <div class="service-item-content">
                <ul>
                    <li>头脑风暴、专家咨询</li>
                    <li>组织文案策划、资深设计师实地考察</li>
                    <li>拟定初步大纲、图纸绘制</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-6 service-item">
            <div class="service-item-icon service-item-icon3"></div>
            <div class="service-item-title">
                初步设计
            </div>
            <div class="service-item-content">
                <ul>
                    <li>展馆风格定位</li>
                    <li>绘制图纸、确定文字</li>
                    <li>资深顾问团队打造独特设计方案</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-6 service-item">
            <div class="service-item-icon service-item-icon4"></div>
            <div class="service-item-title">
                深化设计
            </div>
            <div class="service-item-content">
                <ul>
                    <li>装饰设计深化、系统整合空间装饰、展品与模型、完整施工图</li>
                    <li>展品文字、图形、脚本文字</li>
                    <li>资格预审、展品制作、多媒体内容制作、硬件集成</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-6 service-item">
            <div class="service-item-icon service-item-icon5"></div>
            <div class="service-item-title">
                工程实施
            </div>
            <div class="service-item-content">
                <ul>
                    <li>基础装饰、艺术布展、模型制作、强弱电布控、灯光音响调试、硬件设备安装、美工设计</li>
                    <li>项目经理进度推进,严把施工质量</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-6 service-item">
            <div class="service-item-icon service-item-icon6"></div>
            <div class="service-item-title">
                运营维护
            </div>
            <div class="service-item-content">
                <ul>
                    <li>主场服务、培训支持、问题指导</li>
                    <li>后期服务、电话回访</li>
                    <li>提供升级改造方案</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="about">
    <img src="images/mt3.jpg" style="width: 100%;height: 20vw;">
</div>
<div>
    <div class="container">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
        <img src="images/mtmt.png" class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>
    <div class="container about">
        <ul>
            <li>
                Foryou和有品牌创始于1999年，旗下拥有北京世纪和有科技有限公司、和有建筑装饰(北京)有限公司两个公司，业务涉及互动科技和创意展示两大板块。针对各类新建、改造的科博场馆，Foryou和有整合美、欧、日等国内外先进设计资源，提供从概念策划到设计、施工管理的一体化服务解决方案。
            </li>
            <li>
                Foryou和有管理体系健全，拥有中国展览馆协会展示工程企业一级资质、中国会展经济研究会展陈工程企业一级资质、ISO9001质量管理体系认证、北京市高新技术企业等多项认证资质，拥有数十项自有品牌软件著作权和国家专利证书。
            </li>
            <li>
                Foryou和有有着良好的业界知名度和合作精神。17年来，Foryou和有已经为近四百家政府、企业、公益机构提供了包括概念策划、展陈设计、展项研发、工程实施等各类场馆创意展示服务。2008年，承接了国家电网奥运展示馆、海尔奥运展厅、联想品牌体验中心、李宁博物馆等大型项目。2010年，成功实施并管理上海世博会航空馆、石油馆、万科企业馆等大型场馆的多媒体展示集成项目。
            </li>
        </ul>
    </div>
</div>


<div id="anli" class="anli">
    <div class="container">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
        <img src="images/mtanli.png" class="col-lg-4  col-md-6 col-sm-8 col-xs-12">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>
    <div class="container anli-list">
        <div class="anli-item col-md-4 col-sm-6 col-xs-12">
            <div class="anli-title">

            </div>
            <div class="anli-img">
                <img src="images/anli1.jpg">
            </div>
        </div>
        <div class="anli-item col-md-4 col-sm-6 col-xs-12">
            <div class="anli-title">

            </div>
            <div class="anli-img">
                <img src="images/anli2.jpg">
            </div>
        </div>
        <div class="anli-item col-md-4 col-sm-6 col-xs-12">
            <div class="anli-title">

            </div>
            <div class="anli-img">
                <img src="images/anli3.jpg">
            </div>
        </div>
        <div class="anli-item col-md-4 col-sm-6 col-xs-12">
            <div class="anli-title">

            </div>
            <div class="anli-img">
                <img src="images/anli4.jpg">
            </div>
        </div>
        <div class="anli-item col-md-4 col-sm-6 col-xs-12">
            <div class="anli-title">

            </div>
            <div class="anli-img">
                <img src="images/anli5.jpg">
            </div>
        </div>
        <div class="anli-item col-md-4 col-sm-6 col-xs-12">
            <div class="anli-title">

            </div>
            <div class="anli-img">
                <img src="images/anli6.jpg">
            </div>
        </div>
    </div>
    <div class="anli-more text-center">
        <a href="anli/1.html" class="btn btn-default btn-lg">查看更多案例</a>
    </div>
</div>

<div id="fangan">
    <div class="container">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
        <img src="images/mtfangan.png" class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>
    <div class="container fangan-list">
        <ul>
            <li>甘肃科技馆展陈布展设计</li>
            <li>朔州科技馆概念设计方案第一名</li>
            <li>咸阳科技馆策划设计</li>
            <li>福建科技馆新馆 方案设计征集第一名</li>
            <li>黑龙江科技馆 总体策划第一名</li>
            <li>唐山科技馆 率先提出招投标流程</li>
        </ul>
    </div>
    <div class="anli-more text-center">
        <a href="fangan/1.html" class="btn btn-default btn-lg">查看更多解决方案</a>
    </div>
</div>

<div id="huoban">
    <div class="container">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
        <img src="images/mthuoban.png" class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>
    <div>
        <img src="images/pinpai.jpg" style="width: 100%; padding-top: 20px;">
    </div>
</div>

<div id="jiaru">
    <div class="container" style="margin-top: 20px;margin-bottom: 20px;">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
        <img src="images/jiaru.png" class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>
    <div>
        <img src="images/map.png" style="width: 100%; padding-top: 20px;">
    </div>
</div>