<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>合作品牌</title>
    <link rel="stylesheet" type="text/css" href="../../skin/qsmt/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../skin/qsmt/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../skin/qsmt/css/style.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top2">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: #00ff00;">
                <img src="../../skin/qsmt/images/navlogo.png">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">首页</a></li>
                <li><a href="../about/1.html">关于Foryou</a></li>
                <li><a href="../anli/1.html">Foryou案例</a></li>
                <li><a href="../fangan/1.html">解决方案</a></li>
                <li class="active"><a>伙伴计划</a></li>
                <li><a href="../jiaru/1.html">加入Foryou</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="padding: 20px 0;">
    <nav class="leftnav col-xs-12 col-sm-2 container" style="padding-bottom: 20px;">
        <div class="col-xs-6 col-sm-12 "><a href="1.html" class="">伙伴计划</a></div>
        <div class="col-xs-6 col-sm-12 "><a href="2.html" class="active">合作品牌</a></div>
    </nav>
    <div class="col-xs-12 col-sm-10 container" style="text-indent: 20px;">
        <img src="2.png" style="width: 100%;">
    </div>
</div>

<div class="footer">
    E-mail: info@foryoutech.com 电话: 010-88579825/26/27/28/29 传真: 010-88579828转818
    <br>
    版权所有: 北京世纪和有科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;京ICP备05063737号
    <img id="ewm" src="../../skin/qsmt/images/ewm.jpg">
</div>
<script src="../../skin/qsmt/libs/jquery/dist/jquery.min.js"></script>
<script src="../../skin/qsmt/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>