<div class="loading-container">
	<div class="container">
		<div class="row">
			<div class="page-title col-xs-12">
				<h1>成功案例</h1>
				<div class="divider"></div>
			</div>
		</div>
		<div class="row">
			<div portfolio-item ng-repeat="item in $ctrl.portfolios track by item.id" ng-model="item"></div>
		</div>
	</div>
	<div class="loading" ng-show="$ctrl.loading"></div>
</div>
<nav class="text-center">
	<ul uib-pagination total-items="$ctrl.totalItems" items-per-page="$ctrl.pagesize" ng-model="$ctrl.currentPage"
		ng-change="$ctrl.pageChanged()"></ul>
</nav>
