<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../skin/qsmt/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../skin/qsmt/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../skin/qsmt/css/style.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top2">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: #00ff00;">
                <span><img src="../skin/qsmt/images/logo.png" style="height: 100%;"></span>
                青色麦田
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="about/1.html">关于我们</a></li>
                <li><a href="#anli">成功案例</a></li>
                <li><a href="#fangan">解决方案</a></li>
                <li><a href="#huoban">伙伴计划</a></li>
                <li><a href="#jiaru">加入我们</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../skin/qsmt/images/carousel1.png" alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="../skin/qsmt/images/carousel2.png" alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="../skin/qsmt/images/carousel3.png" alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="../skin/qsmt/images/carousel4.png" alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="../skin/qsmt/images/carousel5.png" alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="service">
    <div class="container">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
        <img src="../skin/qsmt/images/foryouservice.png" class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>
    <div class="container">
        <div class="col-lg-2 col-sm-4 col-xs-6 service-item">
            <div class="service-item-icon service-item-icon1">

            </div>
            <div class="service-item-title">
                专注领域
            </div>
            <div class="service-item-content">
                <ul>
                    <li>世博会、奥运会展示场馆</li>
                    <li>科技馆、博物馆</li>
                    <li>各类主题场馆</li>
                    <li>城市规划馆、企业展示中心</li>
                    <li>青少年宫、妇女儿童活动中心、校史馆、纪念馆</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-6 service-item">
            <div class="service-item-icon service-item-icon2"></div>
            <div class="service-item-title">
                概念策划
            </div>
            <div class="service-item-content">
                <ul>
                    <li>头脑风暴、专家咨询</li>
                    <li>组织文案策划、资深设计师实地考察</li>
                    <li>拟定初步大纲、图纸绘制</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-6 service-item">
            <div class="service-item-icon service-item-icon3"></div>
            <div class="service-item-title">
                初步设计
            </div>
            <div class="service-item-content">
                <ul>
                    <li>展馆风格定位</li>
                    <li>绘制图纸、确定文字</li>
                    <li>资深顾问团队打造独特设计方案</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-6 service-item">
            <div class="service-item-icon service-item-icon4"></div>
            <div class="service-item-title">
                深化设计
            </div>
            <div class="service-item-content">
                <ul>
                    <li>装饰设计深化、系统整合空间装饰、展品与模型、完整施工图</li>
                    <li>展品文字、图形、脚本文字</li>
                    <li>资格预审、展品制作、多媒体内容制作、硬件集成</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-6 service-item">
            <div class="service-item-icon service-item-icon5"></div>
            <div class="service-item-title">
                工程实施
            </div>
            <div class="service-item-content">
                <ul>
                    <li>基础装饰、艺术布展、模型制作、强弱电布控、灯光音响调试、硬件设备安装、美工设计</li>
                    <li>项目经理进度推进,严把施工质量</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-6 service-item">
            <div class="service-item-icon service-item-icon6"></div>
            <div class="service-item-title">
                运营维护
            </div>
            <div class="service-item-content">
                <ul>
                    <li>主场服务、培训支持、问题指导</li>
                    <li>后期服务、电话回访</li>
                    <li>提供升级改造方案</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="about">
    <img src="../skin/qsmt/images/about.png" style="width: 100%;">
</div>
<div>
    <div class="container">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
        <img src="../skin/qsmt/images/foryou.png" class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>
    <div class="container about">
        <ul>
            <li>
                Foryou和有品牌创始于1999年，旗下拥有北京世纪和有科技有限公司、和有建筑装饰(北京)有限公司两个公司，业务涉及互动科技和创意展示两大板块。针对各类新建、改造的科博场馆，Foryou和有整合美、欧、日等国内外先进设计资源，提供从概念策划到设计、施工管理的一体化服务解决方案。
            </li>
            <li>
                Foryou和有管理体系健全，拥有中国展览馆协会展示工程企业一级资质、中国会展经济研究会展陈工程企业一级资质、ISO9001质量管理体系认证、北京市高新技术企业等多项认证资质，拥有数十项自有品牌软件著作权和国家专利证书。
            </li>
            <li>
                Foryou和有有着良好的业界知名度和合作精神。17年来，Foryou和有已经为近四百家政府、企业、公益机构提供了包括概念策划、展陈设计、展项研发、工程实施等各类场馆创意展示服务。2008年，承接了国家电网奥运展示馆、海尔奥运展厅、联想品牌体验中心、李宁博物馆等大型项目。2010年，成功实施并管理上海世博会航空馆、石油馆、万科企业馆等大型场馆的多媒体展示集成项目。
            </li>
        </ul>
    </div>
</div>


<div id="anli" class="anli">
    <div class="container">
        <div class=" col-md-3 col-sm-2 hidden-xs"></div>
        <img src="../skin/qsmt/images/anli.png" class=" col-md-6 col-sm-8 col-xs-12">
        <div class=" col-md-3 col-sm-2 hidden-xs"></div>
    </div>
    <div class="container anli-list">
        <div class="anli-item col-md-4 col-sm-6 col-xs-12">
            <div class="anli-title">

            </div>
            <div class="anli-img">
                <img src="../skin/qsmt/images/anli1.jpg">
            </div>
        </div>
        <div class="anli-item col-md-4 col-sm-6 col-xs-12">
            <div class="anli-title">

            </div>
            <div class="anli-img">
                <img src="../skin/qsmt/images/anli2.jpg">
            </div>
        </div>
        <div class="anli-item col-md-4 col-sm-6 col-xs-12">
            <div class="anli-title">

            </div>
            <div class="anli-img">
                <img src="../skin/qsmt/images/anli3.jpg">
            </div>
        </div>
        <div class="anli-item col-md-4 col-sm-6 col-xs-12">
            <div class="anli-title">

            </div>
            <div class="anli-img">
                <img src="../skin/qsmt/images/anli4.jpg">
            </div>
        </div>
        <div class="anli-item col-md-4 col-sm-6 col-xs-12">
            <div class="anli-title">

            </div>
            <div class="anli-img">
                <img src="../skin/qsmt/images/anli5.jpg">
            </div>
        </div>
        <div class="anli-item col-md-4 col-sm-6 col-xs-12">
            <div class="anli-title">

            </div>
            <div class="anli-img">
                <img src="../skin/qsmt/images/anli6.jpg">
            </div>
        </div>
    </div>
    <div class="anli-more">
        <img src="../skin/qsmt/images/more-anli.png">
    </div>
</div>

<div id="fangan">
    <div class="container">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
        <img src="../skin/qsmt/images/fangan.png" class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>
    <div class="container fangan-list">
        <ul>
            <li>甘肃科技馆展陈布展设计</li>
            <li>朔州科技馆概念设计方案第一名</li>
            <li>咸阳科技馆策划设计</li>
            <li>福建科技馆新馆 方案设计征集第一名</li>
            <li>黑龙江科技馆 总体策划第一名</li>
            <li>唐山科技馆 率先提出招投标流程</li>
        </ul>
    </div>
    <div class="anli-more">
        <img src="../skin/qsmt/images/more-fangan.png">
    </div>
</div>

<div id="huoban">
    <div class="container">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
        <img src="../skin/qsmt/images/huoban.png" class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>
    <div>
        <img src="../skin/qsmt/images/pinpai.jpg" style="width: 100%; padding-top: 20px;">
    </div>
</div>

<div id="jiaru">
    <div class="container" style="margin: 20px">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
        <img src="../skin/qsmt/images/jiaru.png" class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>
    <div>
        <img src="../skin/qsmt/images/map.png" style="width: 100%; padding-top: 20px;">
    </div>
</div>

<div class="footer">
    E-mail: info@qsmttech.com 电话: 010-88579825/26.27/28/29
    <br>
    版权所有: 北京青色麦田科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/">京ICP备16039554号-1</a>
</div>

<script src="../skin/qsmt/libs/jquery/dist/jquery.min.js"></script>
<script src="../skin/qsmt/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>