<div class="loading-container">
    <div class="container">
        <div class="col-xs-12 col-sm-2 container">
            <ul class="nav nav-pills qsmt-sub-nav">
                <li ng-repeat="item in $ctrl.data track by item.id" class="col-xs-3 col-sm-12 repeated-item" ng-class="{active:item === $ctrl.select}">
                    <a href="javascript:void(0)" ng-click="$ctrl.select = item">{{item.title.rendered}}</a>
                </li>
            </ul>
        </div>
        <div ng-bind-html="$ctrl.select.content.rendered" class="col-xs-12 col-sm-10 container">
        </div>
    </div>

    <div class="loading" ng-show="$ctrl.loading"></div>
</div>
