<h1>admin</h1>
<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<ul class="nav nav-pills nav-stacked">
				<li ng-repeat="category in $ctrl.categories track by category.id"
					ui-sref-active="active">
					<!--<a href="javascript:void(0)" ng-click="$ctrl.selectedCategory = category">{{category.title}}</a>-->
					<a ui-sref="list({ category: category.name })">
						{{category.title}}
					</a>
				</li>
			</ul>
		</div>
		<div class="col-xs-9" style="min-height: 600px;">
			<ui-view></ui-view>
		</div>
	</div>
</div>
