.portfolio-item {
  padding: 5px;
  .title {
    position: absolute;
    left: 0;
    right: 0;
    padding: 15px 30px;
    color: #fff;
    background-color: rgba(1,1,1,.2);
  }
  .img>img {
    width: 100%;
  }
  @media (max-width: 768px){
	padding: 0;
  }
}
